<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Home</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Job Search</h1>
   <form action="/react" method="get">
     <input placeholder="Search for a job" name="word"/>
     <!--required는 form태그에서 입력 필드에 꼭 채워져야 한다는 의미-->
     <!--name은 해당 폼의 이름을 나타내며 데이터 참조, 자바스크립트에서 요소를 참조-->
     <!--http://localhost:5000/react?word=asd 주소에 name에 입력값이 들어가 있다.-->
     <button>Search</button>
   </form>
  </body>
</html>