<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
  <title>Job</title>
</head>
<body>
  <header><h1>Remote Jobs</h1></header>

  <main>
    <div>
      <div>
        <form action="/search" method="get">
          <h4>Search by term : </h4>
          <input type="text" name="term" placeholder="i.e python">
          </br>
          <button type="submit">Find my job</button>
        </form>
      </div>
    </div>
  </main>
  
</body>
</html>