<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1>Reader</h1>
    <h3>A service to aggregate all your favorite subreddits</h3>
  </header>

  <div>
    <div>
      <form action="/read" method="get">
        <h3>Select the subreddits you're interested on</h3>
        {% for subreddit in subreddits %}
        <ul>
          <li>
            <input type="checkbox" name="{{subreddit}}" value="on">
            r/{{subreddit}}
          </li>
        </ul>
        {% endfor %}
        <input type="submit" value="Aggregate">
      </form>
    </div>
  </div>
</body>

</html>